@tailwind base;
@tailwind components;
@tailwind utilities;

input,
button {
	@apply rounded-lg py-2 px-3 shadow-3xl;
}
button {
	@apply bg-white text-blue-500 font-medium;
}

input:hover,
button:hover {
	@apply shadow-4xl;
}

button:active {
	@apply translate-y-px;
}

i {
	@apply text-gray-400;
}
